#overlay1 {
  position: absolute;
  z-index: 1000;
  background: rgba(255,255,255,0.7);
  padding: 5px;
  left: 0;
  bottom: 0;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px grey;
  max-width: inherit;
  max-height: inherit;
}

.legend {
    position: relative;
    line-height: 16px;
    width:200px;
    color: #333333;
    font-family: 'Titillium Web', sans-serif;
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.5);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    border: 1px solid blue;
    
}

.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}

.legend img {
    width: 16px;
    height: 16px;
    margin-right: 3px;
    float: left;

}

.legend p {
    font-size: 12px;
    line-height: 16px;
    margin: 0;

}
